web class folder/web Project/xml/dataScheme.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:group name="introduction">
<xs:sequence>
<xs:element name="introHeading" type="xs:string"/>
<xs:element name="introParagraph" type="xs:string"/>
</xs:sequence>
</xs:group>

<xs:group name="whatWeAbout">
<xs:sequence>
<xs:element name="wwaHeading" type="xs:string"/>
<xs:element name="wwaParagraph" type="xs:string"/>
</xs:sequence>
</xs:group>


<xs:element name="information1"> <!--THis is the root tag-->
<xs:complexType> <!--Thiss is the first complex tag used to establish the root tag of the index page-->


<xs:element name="intro"> <!--this is the first paragraph and heading in the index-->
<xs:complexType>
<xs:group ref="introduction"/>
</xs:complexType>
</xs:element>

<xs:element name="WhatAreWeABout"> <!--this is the second paragraph and heading in the index-->
<xs:complexType>
<xs:group ref="whatWeAbout"/>
</xs:complexType>
</xs:element>




</xs:complexType> <!--End of root complex type-->
</xs:element> <!--the end of the first root tag-->







</xs:schema>